html, body {
    font-family: "Helvetica Neue";
    background: azure;
    padding: 0;
    height:100%;
    margin:0;
 }



section.about-page {
    
    margin-top:5%;
    height:100%;
}

div.about-page {
    background-image: image-url('image1.jpeg');
    background-size: 100% 100%;
    height: 70%;
    width: 50%;
    box-shadow: 5px 10px 25px;
    padding:5px;
    float:left;
    margin: 0 5% 5% 5%;
 }

 div.about-text {
     display:inline-block;
     width: 30%;
     box-shadow: 5px 5px 15px;
     padding:10px;
     background-color: #6497b1;
     font-family:Verdana;
     color: #011f4b;
 }


 @media screen and (max-width: 600px) {
    section.about-page {
        text-align:center;
    }

    div.about-page {
        width:auto;
        float:none;
    }

    div.about-text {
        width:auto;
        margin:5%;
    }
}

img.avatar {
     max-width: 90%;
     width: auto;
     max-height: 70%;
     height: auto;
     box-shadow: 5px 15px 25px;
 }

.button {
  background-color: #03396c;
  border: none;
//   color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 0.3em;
}

button:hover {
    margin-top:10px;
    margin-right:5px;
}

button.button {
    box-shadow: 5px 15px 25px;
}

div.entry {
    text-align:center;
    margin-top:5%;
}

a.new-entry {
    color:white;
}

h1.profile-name {
    float:right;
    margin:0;
}

h1.profile-title {
    margin-top: 12%;
}

div.avatar {
    border-radius: 1em;
    width: auto;
    max-width:90%;
    height:70%;
    margin:0;
    margin-left:1%;
    margin-top:3%;
    margin-right:1%;
    float:left;
    padding:2%;

}

@media screen and (max-width: 770px) {
    div.avatar {
        height:auto;
        float:none;
    
    }
}

section.profile-div {
    height:100%;
    border:solid black 1px;
}




p.profile-text {
    display:flex;
    flex-direction: column;
    box-shadow: 5px 5px 10px;
    padding:15px;
    margin-right:10px;
    background-color: #005b96;
    color:white;
    border-radius:1em;

}
strong {
    padding-bottom: 5px;
}



div.text-div {
    overflow: scroll;
    margin-left:2%;
    margin-top:1%;
}

a.login-link {
    padding:0;
}


@media screen and (min-width: 550px) {
    div.name-profile {
        color:white;
        width:40%;
        display:flex;
        position:absolute;
        justify-content:flex-end;
        right:1%;
    }
}

@media screen and (max-width: 549px) {
    div.name-profile {
        color:white;
        display:flex;
        justify-content:wrap;
        width:100%;
    }

}

div.sign-profile {
    background-color: rgb(254, 237, 142);
    overflow:hidden;
}

h3.sign-up-acct {
    text-align: right;
    right: 1%;
    overflow:hidden;
}

input.actions-button {
    background-color: #03396c;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 0.3em;
    margin-top: 5%;
}

p.profile-options {
text-align: center;
}

a.profile-options {
    color: #011f4b;
    text-decoration: none;
    text-transform: uppercase;
    border:solid #011f4b 1px;
    padding: 5px;
    background-color: azure;
    margin:5px;
    text-decoration:underline;
}

a.profile-options:hover {
    padding-left:10%;
}


.navbar {
  background-color: #011f4b;
  overflow: hidden;
  display:flex;
  flex-wrap:wrap;
}

h3 {
    margin:0;
}

.navbar a:hover {
  background-color: #ddd;
  color: black;
}

.navbar a.active {
  background-color: #04AA6D;
  color: white;
}

nav.navbar a {
    float: left;
    color: azure;
    text-align: center;
    padding: 7px 8px;
    text-decoration: none;
    font-size: 17px;
    font-size-adjust: inherit;
}

div.index {
    display:flex;
    flex-wrap: wrap;
    height:fit-content;
}

div.index-text {
    display:inline-block;
    background-color: #009FBA;
    border: none;
    color: white;
    padding: 15px 32px;
    text-decoration: none;
    font-size: 16px;
    border-radius: 0.3em;
}

section.project-form {
    display:flex;
    justify-content: center;
}

div.project-form {
    margin: 10px;
}

#project_project_description {
    width: 300px;
    height: 100px;
    background-color: #6497b1;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 0.3em;
}

section.show-page {
margin-left: 2.5%;

}

a.show-buttons {
  background-color: #008CBA;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 0.3em;
    
}

button.show-buttons {
  background-color: #008CBA;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 0.3em;
}

input.edit-submit {
  background-color: #001FBA;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 0.3em;
}

input#project_project_name {
  background-color: #6497b1;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 0.3em;
}

input#project_start_date {
  background-color: #6497b1;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 0.3em;
}

input#project_end_date {
  background-color: #6497b1;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 0.3em;
}

textarea#comment_body {
    width: 300px;
    height: 100px;
}

textarea {
    background-color: #001FBA;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 0.3em;
}

div.actions {
    display:flex;
    justify-content:center;
    flex-direction:column;
}

div.field {
    padding:1%;
}

div.cancel-account {
    margin: 2%;
    margin-left:0;
    padding: 1%;
}

input.edit-account {
    background-color: #03396c;
    border: none;
    color: white;
    padding: 15px 32px;
    text-decoration: none;
    font-size: 16px;
    border-radius: 0.3em;
    margin:10px;
    width:fit-content;

}

a.links {
 
    color: #011f4b;
    text-decoration: none;
    text-transform: uppercase;
    border:solid #011f4b 1px;
    padding: 5px;
    background-color: azure;
    text-decoration:underline;
    margin-left:1%;
      
}

a.links:hover {
    padding-left:7%;
}

input.edit-submit {
    margin:2%;
    margin-left:0;
    max-width: 50%;
}

h3.cancel-account {
    margin-bottom: 3%;
}

div.account-management-text {
    display:inline-block;
    background-color: #6497b1;
    border: none;
    color: white;
    padding: 15px 32px;
    text-decoration: none;
    font-size: 16px;
    border-radius: 0.3em;
}

section.account-management {
    display:flex;
    justify-content:center;
    height:100%;
}

input.project-form {
    background-color: #03396c;
    border: none;
    color: white;
    padding: 15px 32px;
    text-decoration: none;
    font-size: 16px;
    border-radius: 0.3em;
}

section.profile-form {
    display:flex;
    justify-content:center;
    text-align:center;
}

section.log-in {
    display:flex;
    justify-content:center;
}

div.login-field {
    padding: 5px;
    
}

div.login-header {
    text-align: center;
}

div.login-profile {
    background-color: #333;
    overflow:hidden;
}

div.login-page-button {
    background-color: #03396c;
    border: none;
    color: white;
    padding: 15px 32px;
    text-decoration: none;
    font-size: 16px;
    border-radius: 0.3em;
    margin:10px;
    width:fit-content;
}

a.login-page-button {
    color:white;
}

div.project-index {
    height: 150px;
    margin: 15px;
    padding:10px;
    border: solid black 1px;
    background: #6497b1;
    box-shadow: 5px 8px 20px;
    font-family:Verdana;
    a {
        color:#011f4b;
        font-family:Impact;
        text-decoration:none;
        font-size:larger;
        border-bottom: white dotted 1px;
    }
}

div.imentor {
    display:flex;
    justify-content:inherit;
    justify-content:center;
    color:white;
    font-size:20px;
    overflow:hidden;
}

h1.imentor {
    display:flex;
    justify-content:center;
    color:azure;
    font-size:25px;
    margin:0;
    margin-right:5px;
    font-family:Verdana;

}

div.project-show {
    border: solid black 1px;
    border-radius: 1em;
    background-color:#6497b1;
    padding: 15px;
    margin-bottom: 2%;
    margin-top: 2%;
    box-shadow: 5px 10px 25px;
}

@media screen and (min-width: 600px) {

    div.project-show {
        width:fit-content;
        max-width:60%;

    }

}


div.proj-desc {
    max-width:auto;
    overflow-wrap:break-word;

}