html, body {
    font-family: "Helvetica Neue";
    background: #b3cde0;
    padding: 0;
    height:100%;
    margin:0;
 }



section.about-page {
    
    margin-top:5%;
    height:100%;
}

div.about-page {
    background-image: image-url('image1.jpeg');
    background-size: 100% 100%;
    height: 70%;
    width: 50%;
    box-shadow: 5px 10px 25px;
    padding:5px;
    float:left;
    margin: 0 5% 5% 5%;
 }

 div.about-text {
     display:inline-block;
     width: 30%;
     box-shadow: 5px 5px 15px;
     padding:5px;
     background-color: #6497b1;
     font-family:Verdana;
 }

 @media screen and (max-width: 600px) {
    section.about-page {
        text-align:center;
    }

    div.about-page {
        width:auto;
        float:none;
    }

    div.about-text {
        width:auto;
        margin:5%;
    }
}

img {
     width: 300px;
     height: 300px;
 }

.button {
  background-color: #03396c;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 0.3em;
}

div.entry {
    text-align:center;
    margin-top:5%;
}

a.new-entry {
    color:white;
}

h1.profile-name {
    position:absolute;
    left:10%;    
    top:8%;
    margin:0;
}

img {
    border-radius: 1em;
    width: 30%;
    height:40%;
    margin-left:1%;
    margin-top:3%;
}

section.profile-div {
    display:flex;
    justify-content: center;
    height:100%;
    border:solid black 1px;
}

p.profile-text {
    display:flex;
    flex-direction: column;
    box-shadow: 5px 5px 10px;
    padding:5px;
    margin-right:10px;
    background-color: #009DB1;

}
strong {
    padding-bottom: 5px;
}

div.text-div {
    overflow: scroll;
    margin-left:2%;
    margin-top:1%;
}

div.name-profile {
    color:white;
    width:40%;
    display:flex;
    justify-content:flex-end;
    position:absolute;
    right:1%;
}

div.sign-profile {
    background-color: rgb(254, 237, 142);
    overflow:hidden;
}

h3.sign-up-acct {
    text-align: right;
    right: 1%;
    overflow:hidden;
}

input.actions-button {
    background-color: #03396c;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 0.3em;
    margin-top: 5%;
}

p.profile-options {
text-align: center;
}

a.profile-options {
    margin:5px;
}

.navbar {
  background-color: #011f4b;
  overflow: hidden;
  display:flex;
  flex-wrap:wrap;
}

h3 {
    margin:0;
}

.navbar a:hover {
  background-color: #ddd;
  color: black;
}

.navbar a.active {
  background-color: #04AA6D;
  color: white;
}

nav.navbar a {
    float: left;
    color: azure;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    font-size-adjust: inherit;
}

div.index {
    display:flex;
    flex-wrap: wrap;
    height:fit-content;
}

div.index-text {
    display:inline-block;
    background-color: #009FBA;
    border: none;
    color: white;
    padding: 15px 32px;
    text-decoration: none;
    font-size: 16px;
    border-radius: 0.3em;
}

section.project-form {
    display:flex;
    justify-content: center;
}

div.project-form {
    margin: 10px;
}

#project_project_description {
    width: 300px;
    height: 100px;
    background-color: #6497b1;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 0.3em;
}

section.show-page {
margin-left: 2.5%;
}

a.show-buttons {
  background-color: #008CBA;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 0.3em;
    
}

button.show-buttons {
  background-color: #008CBA;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 0.3em;
}

input.edit-submit {
  background-color: #001FBA;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 0.3em;
}

input#project_project_name {
  background-color: #6497b1;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 0.3em;
}

input#project_start_date {
  background-color: #6497b1;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 0.3em;
}

input#project_end_date {
  background-color: #6497b1;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 0.3em;
}

textarea#comment_body {
    width: 300px;
    height: 100px;
}

textarea {
    background-color: #001FBA;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 0.3em;
}

div.actions {
    display:flex;
    justify-content:center;
    flex-direction:column;
}

div.account-management-text {
    display:inline-block;
    background-color: #6497b1;
    border: none;
    color: white;
    padding: 15px 32px;
    text-decoration: none;
    font-size: 16px;
    border-radius: 0.3em;
}

section.account-management {
    display:flex;
    justify-content:center;
    height:100%;
}

input.project-form {
    background-color: #03396c;
    border: none;
    color: white;
    padding: 15px 32px;
    text-decoration: none;
    font-size: 16px;
    border-radius: 0.3em;
}

section.profile-form {
    display:flex;
    justify-content:center;
    text-align:center;
}

section.log-in {
    display:flex;
    justify-content:center;
}

div.login-field {
    padding: 5px;
    
}

div.login-header {
    text-align: center;
}

div.login-profile {
    background-color: #333;
    overflow:hidden;
}

div.login-page-button {
    background-color: #03396c;
    border: none;
    color: white;
    padding: 15px 32px;
    text-decoration: none;
    font-size: 16px;
    border-radius: 0.3em;
    margin:10px;
    width:fit-content;
}

a.login-page-button {
    color:white;
}

div.project-index {
    height: 150px;
    margin: 15px;
    padding:10px;
    border: solid black 1px;
    background: #6497b1;
    box-shadow: 5px 5px 10px;
    font-family:Verdana;
}

div.imentor {
    display:flex;
    justify-content:inherit;
    justify-content:center;
    color:white;
    font-size:20px;
    overflow:hidden;
}

h1.imentor {
    display:flex;
    justify-content:center;
    color:azure;
    font-size:25px;
    margin:0;
    font-family:Verdana;

}
