<h1>iMentor</h1>

<ul> 
    <% @projects.each do |project| %>
        <div>
           <li><h3><%= link_to project.project_name, project %></h3>
          <p>Starting on: <%= link_to project.start_date.strftime("%A %d %B %Y"), project %></p>
          <p>Mentor - <%= link_to project.user.first_name + ' ' + project.user.last_name, users_profile_path(project.user.profile.id) %>
          </p>
        </div>
    <% end %>
</ul>

<% if current_user.mentor? %>
    <h2 class="button"><%= link_to "Create New Project", new_project_path %></h2>
<% end %>