<section class="about-page">
    <div class="about-page">
    </div>
    <div class="about-text">
        <h1>What is iMentor?</h1>
        <h4></h4>
        <p>iMentor was created with the vision of bringing mentors and students together. Here they can meet and collaborate - all in one place!</p>
        <p class="about-paragraph"> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus ultrices luctus nulla, id dictum mi sagittis ut. Nam id purus purus. Sed pulvinar tellus vel ex tristique ultricies. In sodales, ante ac dictum finibus, elit nunc cursus augue, aliquet tincidunt nibh odio ut orci. Etiam id dolor sodales arcu laoreet malesuada ac nec velit. Aenean vestibulum auctor ipsum nec pellentesque. Aliquam sodales commodo risus, ut maximus tellus condimentum a. Interdum et malesuada fames ac ante ipsum primis in faucibus. Morbi et semper ante.</p>
    </div>
</section>