<section class="about-page">
    <div class="about-page">
        <h1>What is iMentor?</h1>

        <p>iMentor was created with the vision of bringing mentors and students together, all in one place. Here they can meet and collaborate all in one place!</p>
    </div>
</section>